/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

# Created by https://www.gitignore.io/api/vuejs,laravel,windows,visualstudiocode
# Edit at https://www.gitignore.io/?templates=vuejs,laravel,windows,visualstudiocode

### Laravel ###
/vendor/
node_modules/
npm-debug.log
yarn-error.log

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
public/storage
public/hot
storage/*.key
.env
Homestead.yaml
Homestead.json
/.vagrant
.phpunit.result.cache

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

### VisualStudioCode Patch ###
# Ignore all local history of files
.history

### Vuejs ###
# Recommended template: Node.gitignore
# vuepress build output
.vuepress/dist
/public/*.js
/public/js

public/*.js
public/js

/public/js/app.js
/public/css/app.css

public/js/app.js
public/css/app.css

dist/

public/0.js
/public/0.js
/public/1.js
/public/2.js
/public/3.js
/public/4.js
/public/5.js
/public/6.js
/public/7.js
/public/8.js
/public/9.js
/public/10.js
/public/11.js
/public/12.js
/public/13.js
/public/14.js
/public/15.js
/public/16.js
/public/17.js
/public/18.js
/public/19.js
/public/20.js
/public/21.js
/public/22.js
/public/23.js
/public/24.js
/public/25.js
/public/26.js
/public/27.js
/public/28.js
/public/29.js
/public/30.js

### Windows ###
# Windows thumbnail cache files
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db

# Dump file
*.stackdump

# Folder config file
[Dd]esktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msix
*.msm
*.msp

# Windows shortcuts
*.lnk

