body {
    font-size: 13px !important;
}

/*  CUSTOM NAVBAR nya ========================================================== */
.mega-image img{
    -webkit-border-radius: 80px;
    -moz-border-radius: 80px;
    border-radius: 80px;
    border-radius: 100px;
    width: 36px;
    height: 36px;
}

#userDropdown.nav-link.dropdown-toggle::after{
    display:none !important;
}

.has-search .form-control-search {
    padding-left: 2.375rem;
    height: calc(1.5em + 0.5rem + 2px);
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    line-height: 1.5;
    border-radius: 0.2rem;
    background-color: #212529 !important;
    color: white;
    border: 0px;
    padding-left: 40px;
    
  }
  
  .has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 13px;
    height: 13px;
    line-height: 13px;
    text-align: center;
    pointer-events: none;
    color: #aaaa;
    margin-left: 15px;
  }

#sidebarToggle {
    color: rgba(255, 255, 255, 1) !important;
    font-size: medium;
}

.sb-nav-fixed .sb-topnav {
    z-index: 1037 !important;
}

/* SIDEBAR =============================================================== */

.sb-nav-fixed #layoutSidenav #layoutSidenav_nav .sb-sidenav {
    padding-top: 0px !important;
}

.sb-header-sidenav-menu {
    padding:10px;
    border-bottom: 1px #333333 solid;

}

.nav-link-ku {
    display: block;
}

.nav-link-ku:hover,
.nav-link-ku:focus {
    border-left: #00ffc0 3px solid;
    background-color:#0d253e;
}

.sb-nav-link-icon:hover,
.sb-nav-link-icon:focus {
    color: white;
}

.nav-link-ku.disabled {
    color: #6c757d;
    pointer-events: none;
    cursor: default;
}

/* BUTTON ON TABLE ======================================== */

button.tombol-di-table {
    background: transparent;
    border: none;
    color: lightgray;
    font-size: smaller;
    padding: 3px;
    margin-top: -5px;
}

button.tombol-di-table:hover{
    color: #fff;
}

/* BUTTON TOMBOL HAPUS di SELECT ALL =========================== */

button.tombol-di-bw-table {
    background: transparent;
    border: none;
    color:white;
    font-size: small;
    padding: 3px;
    margin-top: -5px;
    padding-bottom: 1px;
    padding-left:8px;
}

button.tombol-di-bw-table:hover{
    color:#dc3545;
}

button.tombol-di-bw-table[disabled]:hover {
    color: grey;
}

button.tombol-di-bw-table[disabled] {
    color: grey;
}



/* box bawah table ====================================== */
.box-bw-table {
    background: currentColor;
    padding: 5px;
    margin-top: -15px;
    
    padding-right:8px;
}
/* PAGINATION */
.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #343a40 !important ;
    border-color: #343a40 !important;
}

