body {
    font-size: 13px !important;
}

/*  CUSTOM NAVBAR nya ========================================================== */
li.nav-item {
    margin-left: 10px;
}
.mega-image img{
    -webkit-border-radius: 80px;
    -moz-border-radius: 80px;
    border-radius: 80px;
    border-radius: 100px;
    width: 36px;
    height: 36px;
}

#userDropdown.nav-link.dropdown-toggle::after{
    display:none !important;
}

.mega-link .mega-icon {
    font-size: 1.3rem;
    color: white;
}

.mega-link .badge {
    position: absolute;
    right: 15px;
    color:white;
    border-radius: 100%;
    font-size: 10px;
    background-color: rgb(241, 53, 69);
  }

/* ======================================================================================== */

.has-search .form-control-search {
    padding-left: 2.375rem;
    height: calc(1.5em + 0.5rem + 2px);
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    line-height: 1.5;
    border-radius: 0.2rem;
    background-color: #212529 !important;
    color: white;
    border: 0px;
    padding-left: 40px;
    
  }
  
  .has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 13px;
    height: 13px;
    line-height: 13px;
    text-align: center;
    pointer-events: none;
    color: #aaaa;
    margin-left: 15px;
  }

#sidebarToggle {
    color: rgba(255, 255, 255, 1) !important;
    font-size: medium;
}

.sb-nav-fixed .sb-topnav {
    z-index: 1037 !important;
}

/* SIDEBAR =============================================================== */

.sb-nav-fixed #layoutSidenav #layoutSidenav_nav .sb-sidenav {
    padding-top: 0px !important;
}

.sb-header-sidenav-menu {
    padding:10px;
    border-bottom: 1px #333333 solid;

}

.nav-link-ku {
    display: block;
}

.nav-link-ku:hover,
.nav-link-ku:focus {
    border-left: #00ffc0 3px solid;
    background-color:#0d253e;
}

.sb-nav-link-icon:hover,
.sb-nav-link-icon:focus {
    color: white;
}

.nav-link-ku.disabled {
    color: #6c757d;
    pointer-events: none;
    cursor: default;
}

/* BUTTON ON TABLE ======================================== */

button.tombol-di-table {
    background: transparent;
    border: none;
    color: lightgray;
    font-size: smaller;
    padding: 3px;
    margin-top: -5px;
}

button.tombol-di-table:hover{
    color: #fff;
}

/* BUTTON TOMBOL HAPUS di SELECT ALL =========================== */

button.tombol-di-bw-table {
    background: transparent;
    border: none;
    color:white;
    font-size: small;
    padding: 3px;
    margin-top: -5px;
    padding-bottom: 1px;
    padding-left:8px;
}

button.tombol-di-bw-table:hover{
    color:#dc3545;
}

button.tombol-di-bw-table[disabled]:hover {
    color: grey;
}

button.tombol-di-bw-table[disabled] {
    color: grey;
}



/* box bawah table ====================================== */
.box-bw-table {
    background: currentColor;
    padding: 5px;
    margin-top: -15px;
    
    padding-right:8px;
}
/* PAGINATION */
.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #343a40 !important ;
    border-color: #343a40 !important;
}

a.page-link {
    color:black;
}

/* input */
.form-group-ku {
    margin-bottom:0.5rem;
}

.form-group-ku .lbl-form-ku {
    display: inline-block;
    margin-bottom: 0.2rem !important;
}
.form-control-customku {
    padding-left: 0.75rem !important;
    height: calc(1.5em + 0.5rem + 2px);
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    line-height: 1.5;
    border-radius: 0.2rem;
    background-color: #212529 !important;
    color: white;
    border: 0px;
    padding-left: 40px;
    width: 100%;
    margin-top: 0px;
    
  }
  
.form-control-customku-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 13px;
    height: 13px;
    line-height: 13px;
    text-align: center;
    pointer-events: none;
    color: #aaaa;
    margin-left: 15px;
  }

  /* avatar */
  .avatar-profile {
      padding: 0.25rem;
      overflow: hidden;
      background-color: white;
      border-radius: 5px;
  }
img.avatar-ku {
    width:100%;
    border-radius: 5px;
}

hr.batas-dark {
    border-bottom: 1px solid #0000005e;
    height: 0px;
    margin-bottom: 20px;
}

/* -=========================================================== */
.edit-avatar {
    position: absolute;
    left: 11px;
    top: 10px;
    /* text-align: center;  */
}

.edit-avatar input {
    display: none;
}
.edit-avatar label {    
    display: inline-block;
    width: 100%;
    height: 34px;
    color: black;
    padding: 10px;
    background: #00ffec61;
    border: 1px solid transparent;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    font-weight: normal;
    transition: all .2s ease-in-out;
}  

.edit-avatar label:hover {
     background: grey;
     border-color: #d6d6d6;
     color:white;
}
.edit-avatar label:after {
    /* content: "\f007";
        font-family: 'Font Awesome 5 Free'; */
        color: white;
        position: absolute;
        /* top: 10px; */
        left: 0;
        right: 0;
        text-align: center;
        margin: auto;
}


